
.container {

	background: #00b2a9;
	width: 70%;
	margin: auto;
	position: relative;
}

.container:after{
	content: "";
	display: block;
	clear: both;
}
.image {
	width: 200px;
	float: left;
	background-color: transparent;
}
h1, h3 {
	color: white;
	line-height: 1.6em;
}

.textBox {
	width: 70%;
	background-color: transparent;
	float: right;
}

#resume {
	background-color: #10167f;
	margin-left: 15%;
}
#resume a {
	color: white;
	text-decoration: none;
	font-weight:bold;
	font-size:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding: 15px;
}

#project {
	background-color: white;
	margin-left: 10%;
}

#project a {
	text-decoration: none;
	font-weight:bold;
	font-size:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding: 15px;
}
button {
	margin-top: 4%;
	border:1px solid;
	border-radius:25px;
	-moz-border-radius:25px; /* Old Firefox */
}